@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background-image: url("../images/stucco.png");
	font-family: 'Montserrat', sans-serif;
	color: #2e2e2e;
}

#myVideo {
	position: fixed;
	top: 60px;
	right: 17%;
	overflow: hidden;
	width: 58%;
  
}

h1{
	margin: 30px 0px 30px 50px;
	font-weight: 800;
	font-size: 48px;
	letter-spacing: 25px;
}

h2{
	margin-left: 50px;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 7px;
}

h3{
	text-align: right;
	font-weight: 800;
	font-size: 32px;
	letter-spacing: 7px;
	margin-top: 70px;
	margin-bottom: 10px;
	padding-right: 30px;
}



h4{
	margin-bottom: 30px;
	margin-top: 0px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
}

h5{
	margin-bottom: 30px;
	margin-top: 0px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;

   /* text-shadow: 0 0 5px #0a5756;*/
}

h6{
	text-align: center;
	font-size: 32px;
	letter-spacing: 7px;
	font-weight: 800;
	/*	
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color: hsla(185, 51%, 34%, 0.3);*/
}

ol{
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
	list-style-type: disc;
	list-style-position: inside;
}

li{
	margin-bottom: 30px;
}

a:link, a:visited {
    color: #2e2e2e;
	text-decoration: none;
}
a:active, a:hover {
 	color: #93ceca;
	text-decoration: none;
}

a.active{
	color: #93ceca;
	text-decoration: none;
}

#nav{
	width: 180px;
	height: 594px;
	display: block;
	margin-top: 130px;
	margin-left: 50px;
	position:fixed;
}

#logo{
	margin-top: 100px;
	width: 180px;
	height: 120px;
}

#gallery { 
	width:58%; 
	padding:5px;
	margin-left: 30%;
	margin-bottom: 25px;
	
}

#gallery img {
	width: 30%;
	padding:1%;
}

footer{
	position: fixed;
	left: 50px;
	bottom: 0;
	width: 100%;

	color: #717171;
	text-align: left;
	margin-bottom: 10px;
}

small{
	font-size: 10px;
	margin-left: auto;
}

#contact { 
	width:58%; 
	padding:5px;
	margin-left: 30%;
	margin-bottom: 25px;
}

#decor{
	position: fixed;
	
	left: 29%;
	overflow: hidden;
	width: 40%;
	
}

#me{
	float: right;
	width: 40%;
	padding-right: 30px;
}

#flower{
	position: fixed;	
	left: 42%;
	top: 36%;
	overflow: hidden;
	width: 29%;
	z-index:-1;
}


p1{
	font-weight: 600;
	line-height: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	
	float: left;
	text-align: left;
	width: 50%;
}

p{
	text-align: right;
	margin-top: 25px;
	padding-right: 30px;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
}


/* contact form css */


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #2e2e2e;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #2e2e2e;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #2e2e2e;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #2e2e2e;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}





#form {
  position: relative;
  width: 550px;
	margin-top: 50px;
	margin-left: auto;
	padding-right: 30px;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 520px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: url("../images/stucco.png");;
  outline: none;
  color: #2e2e2e;
  
  border: solid 2px #2e2e2e;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #93ceca;
  color: #e2dedb;
}

textarea {
  width: 520px;
  max-width: 520px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: url("../images/stucco.png");
  outline: none;
  
  color: #2e2e2e;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 2px #2e2e2e;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #93ceca;
  color: #e2dedb;
}

#submit {
  width: 554px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #2e2e2e;
  
  outline:none;
  cursor: pointer;
  
  border: solid 2px #2e2e2e;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}



