@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: white;	
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 32px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	border-style: hidden;
	background-color: #242424;
	padding: 20px;

}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	margin: 10px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	
	/*text-align: justify;*/
	font-size: 18px;
	line-height: 24px;
}

section{
	width:80%;
    clear: both;
	align-content: center;
    margin-left: 10%;
    margin-right: 10%;
	margin-top: 20px;
}


img {
	width: 90%;
	clear: both;
	margin: 5%;
	border: 2px solid #242424;
}

footer{
	clear: both;
	left: 0;
  	bottom: 0;
	width: 100%;
	height: 15px;
	background-color:#242424;
}


a:link {
	text-decoration: none;
	color: black;
}

a:visited {
  text-decoration: none;
	color: #195A61;
}

a:hover, a:active {
  text-decoration: underline;
	color: #429FA3;
}






